<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
		<% if user_signed_in? %>
      <li/><font color="white"><%= current_user.email %></font>
      <a href="/users/sign_out">(로그아웃)</a>
    <% end %>
    
    <% unless user_signed_in? %>
      <li/><a href="/users/sign_in">로그인</a>
    <% end %>
		<li>
			<a href="#top" onclick=$("#menu-close").click();>Home</a>
		</li>
		<li>
			<a href="#album" onclick=$("#menu-close").click();>Album</a>
		</li>
		<li>
			<a href="#bulletin" onclick=$("#menu-close").click();>Bulletin</a>
		</li>
		<li>
			<a href="#map" onclick=$("#menu-close").click();>Map</a>
		</li>
		<li>
			<a href="#contact" onclick=$("#menu-close").click();>Contact</a>
		</li>
	</ul>
</nav>

<!-- Header -->
<header id="top" class="header">
	<div class="text-vertical-center">
		<h1>DKKim's Blog</h1>
		<h3>Welcome to my blog.</h3>
	</div>
</header>

<!-- About -->
<section id="album" class="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>앨범</h2>
				<p class="lead">사진을 보시려면 <a href="">여기</a>를 클릭하세요.</p>
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="bulletin" class="services bg-primary">
	<div class="container">
		<div class="row text-center">
			<div class="col-lg-10 col-lg-offset-1">
				<h2>게시판</h2>
				<hr class="small">
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="service-item">
							<span class="fa-stack fa-4x">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-cloud fa-stack-1x text-primary"></i>
						</span>
							<h4>
								<strong>수학</strong>
							</h4>
							<p>A mathematician is a machine that turns coffee into theorems.</p>
							<a href="#" class="btn btn-light">Math</a>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="service-item">
							<span class="fa-stack fa-4x">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-compass fa-stack-1x text-primary"></i>
						</span>
							<h4>
								<strong>컴퓨터</strong>
							</h4>
							<p>Most good programmers do programming because it is fun.</p>
							<a href="#" class="btn btn-light">Computer</a>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="service-item">
							<span class="fa-stack fa-4x">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-flask fa-stack-1x text-primary"></i>
						</span>
							<h4>
								<strong>자유게시판</strong>
							</h4>
							<br/><p>Free Topics</p>
							<a href="#" class="btn btn-light">Free board</a>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="service-item">
							<span class="fa-stack fa-4x">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-shield fa-stack-1x text-primary"></i>
						</span>
							<h4>
								<strong>비밀게시판</strong>
							</h4>
							<br/><p>Private space</p>
							<a href="#" class="btn btn-light">Secret</a>
						</div>
					</div>
				</div>
				<!-- /.row (nested) -->
			</div>
			<!-- /.col-lg-10 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</section>

<!-- Callout -->
<aside class="callout">
	<div class="text-vertical-center">
		<h1>The essence of math lies in its freedom.</h1>
	</div>
</aside>

<!-- Call to Action -->
<aside class="call-to-action bg-primary">
	<div id="map" class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Map of POSTECH</h2>
			</div>
		</div>
	</div>
</aside>

<!-- Map -->
<section class="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12908.554818813243!2d129.3300055118689!3d36.0169061466222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sko!2skr!4v1473003885822" width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</section>

<!-- Footer -->
<footer>
	<div id="contact" class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 text-center">
				<h4><strong>김도경(Dokyoung Kim)</strong>
				</h4>
				<p>경북 포항시 남구 청암로 77, 포항공대 수학과 37673</p>
		    <p>Department of Mathematics, POSTECH, 77 Cheongam-Ro, Nam-Gu,<br/>
		    Pohang, Gyeongbuk, Korea 37673</p>
				<ul class="list-unstyled">
					<li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:kkim.math@gmail.com">dkkim.math@gmail.com</a>
					</li>
				</ul>
				<br>
				<ul class="list-inline">
					<li>
              <a href="http://www.postech.ac.kr/" target="_blank"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRPAEvLZLY5GRsNahzKN3DcapdY1ft0f3ZLDH6lsh-uaBpC0dhydU4kzg" height="70px"></a>
            </li>
            <li>
              <a href="http://math.postech.ac.kr/" target="_blank"><img src="http://pmi.postech.ac.kr/images/banner_math.png"></a>
            </li>
            <li>
              <a href="https://www.facebook.com/PoApper/" target="_blank"><img src="https://scontent.xx.fbcdn.net/v/t1.0-1/c66.66.828.828/s160x160/560519_573380142719046_740548708_n.png?oh=996e90dd184de9c5aad50544017e25af&oe=5880B373"/></a>
            </li>
            <li>
              <a href="https://www.facebook.com/dokyoung.kim.94" target="_blank"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
            </li>
				</ul>
			</div>
		</div>
	</div>
	<a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>